.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.btn {
  width: 200px;
  height: 100px;
}

.batman {
  width: 200px;
}